@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

section {
  align-self: center;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  -webkit-box-align: center;
}

p {
  margin:150px 0 0;
  font-weight: 300;
  font-size: 20px;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  margin:5px 0;
}
h2 {
  font-weight: 600;
  font-size: 45px;
  margin-top: 5px;
}